<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.androiddz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".TestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dz1.Dz1Activity" />
        <activity android:name=".dz2.Dz2Activity" />
        <activity android:name=".dz3.Dz3Activity" />
        <activity android:name=".dz4.Dz4Activity" />
        <activity android:name=".dz5.Dz5Activity" />
        <activity android:name=".dz6.Dz6Activity" />
        <activity android:name=".dz7.Dz7Activity" />
        <activity android:name=".dz9.Dz9Activity" />
        <activity android:name=".dz10.Dz10Activity" />
        <activity android:name=".dz11.Dz11Activity" />
        <activity android:name=".dz11.details.ProfileActivity" />
        <activity android:name=".dz13.Dz13Activity" />
        <activity android:name=".dz14.Dz14Activity" />
        <activity android:name=".dz15.Dz15Activity" />
        <activity android:name=".dz15.details.ProfileActivity" />

        <service
            android:name=".dz5.MyService"
            android:enabled="true"
            android:exported="false"></service>
    </application>

</manifest>